<include href="penjaga-perpus/parts/navbar.html" />

<div class="container">
    <form action="{{@BASE}}/penjagaperpus/book" method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Cari buku" aria-label="Cari Buku" value="{{@GET.q}}">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">Cari</button>
                </div>
            </div>
            <small class="form-text text-muted">
                Pencarian lebih lanjut? <a href="#panel-khusus" data-toggle="collapse">Buka panel pencarian khusus</a>.
            </small>
        </div>
        <div class="collapse multi-collapse" id="panel-khusus">
            <div class="card card-body">
                <div class="form-group">
                    <label for="pengarang">Pengarang:</label>
                    <input type="text" class="form-control" id="pengarang" placeholder="Enter author" name="pengarang">
                </div>
                <div class="form-group">
                    <label for="penerbit">Penerbit:</label>
                    <input type="text" class="form-control" id="penerbit" placeholder="Enter publisher" name="penerbit">
                </div>
                <div class="form-group">
                    <label for="tipe">Tipe:</label>
                    <repeat group="@data.tipe" value="@tipe">
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" name="tipe[]" value="{{@tipe.id}}">
                            <label class="custom-control-label">{{@tipe.name}}</label>
                        </div>
                    </repeat>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <div class="form-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBookModal">Add Book</button>
    </div>
    <include href="parts/flashmessage.html" />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Buku</th>
                <th>Pengarang</th>
                <th>Penerbit</th>
                <th colspan="2">Stock</th>
            </tr>
        </thead>
        <tbody>
            <repeat group="{{@data.books}}" value="{{@buku}}">
                <tr data-object="book" data-book-id="{{@buku.id}}" data-name="{{@buku.name}}">
                    <td>
                        {{@buku.name}}<br />
                        <small class="text-muted">
                            <repeat group="@data.tag[@buku.id]" value="@tag">
                                <span data-tag-id="{{@tag.tag_id}}">{{@tag.name}},</span>
                            </repeat>
                        </small>
                    </td>
                    <td>
                        {{@buku.fkOrang}}
                        <repeat group="@data.pengarang[@buku.id]" value="@pengarang">
                            {{@pengarang.name}},
                        </repeat>
                    </td>
                    <td>
                        {{date('M Y', strtotime(@buku.published_on))}}<br />
                        <b>{{@buku.pener}}</b>
                    </td>
                    <td>
                        <repeat group="@data.eksemplar[@buku.id]" value="@sem">
                            <div data-eksemplar-id="{{@sem.eksem_id}}" data-total="{{@sem.total}}">
                                <b>{{@sem.name}}</b> = {{@sem.dapat_dipinjam}} dari {{@sem.total}}
                            </div>
                        </repeat>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" data-action="update">Update</button>
                        <button type="button" class="btn btn-danger" data-action="delete">Delete</button>
                    </td>
                </tr>
            </repeat>
        </tbody>
    </table>
    <script>
        $(document).ready(() => {
            $("[data-object=book]").each((i, el) => {
                let book_id = $(el).data('book-id');
                let book_name = $(el).data('name');

                $(el).find('[data-action]').click((e) => {
                    // update all object id actions.
                    $(".act-book-id").data("book-id", book_id);
                    $(".frm-book-id").prop("value", book_id);
                    $(".frm-book-name").prop("value", book_name);
                    $(".obj-book-id").text(book_id);
                    $(".obj-book-name").text($(el).data('name'));

                    let modalName = "#" + $(e.target).data('action') + "Modal";

                    // update dan kawan kawan:
                    if ($(e.target).data('action') == "update") {
                        let typer = $(".types");
                        typer.html(""); // reset

                        $(el).find("[data-eksemplar-id]").each((i, element) => {
                            let fgroup = $("<div/>", { class: "form-group" });
                            let igroup = $("<div/>", { class: "input-group" });
                            let input = $("<input/>", { class: "form-control", value: $(element).data('total'), name: "eksemplar[" + $(element).data('eksemplar-id') + "]", type: "number" });
                            let input_wrap = $("<div/>", { class: "input-group-prepend" });
                            let input_pref = $("<span/>", { class: "input-group-text", text: $(element).find('b').text() });
                            input_pref.appendTo(input_wrap);
                            igroup.append(input_wrap, input).appendTo(fgroup.appendTo(typer));
                        });

                        // autoselects:
                        // TAGS
                        $(el).find("[data-tag-id]").each((i, e) => {
                            $(".tag input[checked]").click();
                            $(".tag [value=" + $(e).data('tag-id') + "]").click();
                        });
                    }
                    $(modalName).modal("show");
                });
            });


        });
    </script>

    <div class="modal fade" id="updateModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Detail Buku</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form action="{{@BASE}}/penjagaperpus/book" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="email">Nama Buku:</label>
                            <input type="text" class="form-control frm-book-name" placeholder="Masukkan nama buku"
                                name="name">
                        </div>
                        <div class="form-group">
                            <label for="pengarang">Pengarang:</label>
                            <select class="form-control" multiple name="pengarangs[]">
                                <option selected>none</option>
                                <repeat group="@data.pengarangs" value="@penga">
                                    <option value="{{@penga.id}}">{{@penga.name}}</option>
                                </repeat>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="penerbit">Penerbit:</label>
                            <select class="form-control" name="penerbits">
                                <option selected>none</option>
                                <repeat group="@data.penerbits" value="@penga">
                                    <option value="{{@penga.id}}">{{@penga.name}}</option>
                                </repeat>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tipe">Tipe:</label>
                            <div class="types"></div>
                        </div>
                        <div class="form-group">
                            <label for="tipe">Tag:</label>
                            <div class="tags">
                                <repeat group="@data.tags" value="@tag">
                                    <label class="form-label">
                                        <input value="{{@tag.id}}" name="tags[]" type="checkbox" /> {{@tag.name}}
                                    </label>
                                </repeat>
                            </div>
                        </div>
                        <input class="frm-book-id" name="id" value="" type="hidden" />
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addBookModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Buku</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="{{@BASE}}/penjagaperpus/book" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="email">Nama Buku:</label>
                            <input type="text" class="form-control frm-book-name" placeholder="Masukkan nama buku"
                                name="name">
                        </div>
                        <div class="form-group">
                            <label for="pengarang">Pengarang:</label>
                            <select class="form-control" multiple name="pengarangs[]">
                                <option selected>none</option>
                                <repeat group="@data.pengarangs" value="@penga">
                                    <option value="{{@penga.id}}">{{@penga.name}}</option>
                                </repeat>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="penerbit">Penerbit:</label>
                            <select class="form-control" name="penerbits">
                                <option selected>none</option>
                                <repeat group="@data.penerbits" value="@penga">
                                    <option value="{{@penga.id}}">{{@penga.name}}</option>
                                </repeat>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tipe">Tipe:</label>
                            <div class="types"></div>
                        </div>
                        <div class="form-group">
                            <label for="tipe">Tag:</label>
                            <div class="tags">
                                <repeat group="@data.tags" value="@tag">
                                    <label class="form-label">
                                        <input value="{{@tag.id}}" name="tags[]" type="checkbox" /> {{@tag.name}}
                                    </label>
                                </repeat>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><span class="obj-book-id"></span> delete confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>
                        Anda akan menghapus buku <span class="obj-book-id"></span>. Apakah Anda yakin untuk menghapus
                        <code>book-id:</code><span class="obj-book-id"></span>?
                    </p>
                    <p>Anda tidak akan dapat membatalkan aksi ini.</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger act-book-id" data-toggle="modal">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                <script>
                    $(document).ready(() => {
                        $("#deleteModal button.act-book-id").click((e) => {
                            $.ajax({
                                url: "/penjagaperpus/book?id=" + $(e.target).data("book-id"),
                                type: "delete"
                            }).then((e) => {
                                window.location.reload();
                            })
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>