<include href="penjaga-perpus/parts/navbar.html" />

<div class="container">
    <form action="{{@BASE}}/penjagaperpus/borrowing" method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Cari Peminjam/Buku"
                    aria-label="Cari Peminjam/Buku">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">Cari</button>
                </div>
            </div>
            <small class="form-text text-muted">
                Pencarian lebih lanjut? <a href="#panel-khusus" data-toggle="collapse">Buka panel pencarian khusus</a>.
            </small>
        </div>
        <div class="collapse multi-collapse" id="panel-khusus">
            <div class="card card-body">
                <div class="form-group">
                    <label for="pengarang">Username:</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
                </div>

                <div class="form-group">
                    <label for="tipe">Tipe:</label>
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="tandon" name="tandon">
                        <label class="custom-control-label" for="tandon">Tandon</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="fotocopy" name="fotocopy">
                        <label class="custom-control-label" for="fotocopy">Fotocopy</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="original" name="original">
                        <label class="custom-control-label" for="original">Original</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <include href="parts/flashmessage.html"/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Buku</th>
                <th>Batas Waktu</th>
                <th colspan="2">Denda</th>
            </tr>
        </thead>
        <tbody>
            <repeat group="{{@data.borrows}}" value="{{@borrow}}">
                <tr data-object="borrow" data-borrow-id="{{@borrow.id}}">
                    <td>
                        {{@borrow.username}}
                    </td>
                    <td>
                        {{@borrow.nama_buku}}
                    </td>
                    <td>{{@borrow.due_on}}</td>
                    <td>Rp. {{(@borrow.denda)}},-</td>
                    <td>
                        <button class="btn btn-warning" data-action="kembali">Pengembalian</button>
                    </td>
                </tr>
            </repeat>
        </tbody>
    </table>

    <script>
            $(document).ready(() => {
                $("[data-object=borrow]").each((i, el) => {
                    let borrow_id = $(el).data('borrow-id');
                    let borrow_name = $(el).data('name');
    
                    $(el).find('[data-action]').click((e) => {
                        // update all object id actions.
                        $(".act-borrow-id").data("borrow-id", borrow_id);
                        $(".frm-borrow-id").prop("value", borrow_id);
                        $(".frm-borrow-name").prop("value", borrow_name);
                        $(".obj-borrow-id").text(borrow_id);
                        $(".obj-borrow-name").text($(el).data('name'));
    
                        let modalName = "#" + $(e.target).data('action') + "Modal";
    
                        // update dan kawan kawan:
                        if ($(e.target).data('action') == "update") {
                            let typer = $(".types");
                            typer.html(""); // reset
                        }
                        $(modalName).modal("show");
                    });
                });
    
    
            });
        </script>
</div>

<div class="modal fade" id="kembaliModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Pengmebalian</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form method="post" action="{{@BASE}}/penjagaperpus/borrowing">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" name="status" id="" required>
                            <option value="returned">Pengembalian</option>
                            <option value="lost">Hilang</option>
                            <option value="cancel">Pembatalan</option>
                        </select>
                    </div>

                    <input class="frm-borrow-id" name="id" value="" type="hidden" />
                </div>
    
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="sumbit" class="btn btn-danger act-book-id" data-toggle="modal">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>

            <script>
                $(document).ready(() => {
                    $("#deleteModal button.act-book-id").click((e) => {
                        $.ajax({
                            url: "/penjagaperpus/book?id=" + $(e.target).data("book-id"),
                            type: "delete"
                        }).then((e) => {
                            window.location.reload();
                        })
                    });
                });
            </script>
        </div>
    </div>
</div>