<include href="penjaga-perpus/parts/navbar.html" />

<div class="container">
    <form action="{{@BASE}}/penjagaperpus/member" method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Cari User" name="q" aria-label="Cari User">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">Cari</button>
                </div>
            </div>
            <small class="form-text text-muted">
                Pencarian lebih lanjut? <a href="#panel-khusus" data-toggle="collapse">Buka panel pencarian khusus</a>.
            </small>
        </div>
        <div class="collapse multi-collapse" id="panel-khusus">
            <div class="card card-body">
                <div class="form-group">
                    <label for="pengarang">Username:</label>
                    <input type="text" class="form-control" placeholder="Enter username" name="username">
                </div>
                <div class="form-group">
                    <label for="penerbit">Email:</label>
                    <input type="email" class="form-control" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>

    </form>
    <div class="form-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMemberModal">Add
            Member</button>
    </div>
    <include href="parts/flashmessage.html"/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Created On</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <repeat group="{{@data.members}}" value="{{@member}}">
                <tr data-object="member" data-book-id="{{@member.id}}">
                    <td>
                        {{@member.name}}
                    </td>
                    <td>
                        {{@member.username}}
                    </td>
                    <td>
                        {{@member.email}}
                    </td>
                    <td>
                        {{@member.created_on}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#confirmationModal">Delete</button>
                    </td>
                </tr>
            </repeat>
        </tbody>
    </table>

    <div class="modal fade" id="addMemberModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Member</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="add_name">Nama:</label>
                            <input type="text" class="form-control" id="add_name" placeholder="Masukkan name"
                                name="add_name">
                        </div>
                        <div class="form-group">
                            <label for="add_username">Username:</label>
                            <input type="text" class="form-control" id="add_username" placeholder="Masukkan username"
                                name="add_username">
                        </div>
                        <div class="form-group">
                            <label for="add_email">Email:</label>
                            <input type="email" class="form-control" id="add_email" placeholder="Masukkan email"
                                name="add_email">
                        </div>
                        <div class="form-group">
                            <label for="add_password">Password:</label>
                            <input type="password" class="form-control" id="add_password"
                                placeholder="Masukkan password" name="add_password">
                        </div>
                        <div class="form-group">
                            <label for="add_confirm_password">Confirm Password:</label>
                            <input type="password" class="form-control" id="add_confirm_password"
                                placeholder="Konfirmasi password" name="add_confirm_password">
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmationModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Apakah Anda yakin ?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-toggle="modal">Confirm</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>