<include href="penjaga-perpus/parts/navbar.html" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
    integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
<script>
    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };
</script>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Buku yang Paling Sering Dipinjam (Sepanjang Masa)</h3>
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Jumlah Peminjaman</th>
                    </tr>
                </thead>
                <tbody>
                    <repeat group="{{@data.buku_most_hit}}" value="{{@buku}}">
                        <tr>
                            <td>{{@buku.name}}</td>
                            <td>{{@buku.jumlah}}</td>
                        </tr>
                    </repeat>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h3>30 Pengunjung Paling Rajin (30 Hari Terakhir)</h3>
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Jumlah Peminjaman</th>
                    </tr>
                </thead>
                <tbody>
                    <repeat group="{{@data.user_most_borrow}}" value="{{@orang}}">
                        <tr>
                            <td>{{@orang.username}}</td>
                            <td>{{@orang.jumlah}}</td>
                        </tr>
                    </repeat>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Tag yang Paling Banyak Dipinjam (Sepanjang Masa)</h3>
            <div class="row">
                <div class="col">
                    <canvas id="chart-sepanjang-masa" width="500" height="400"></canvas>
                    <script>
                        var datas_tags = JSON.parse("{{trim(json_encode(json_encode(@data.tag_terbanyak_dipinjam)), '\"') | raw}}")
                    </script>
                    <script>
                        $(document).ready(() => {
                            new Chart($("#chart-sepanjang-masa")[0].getContext('2d'), {
                                type: 'doughnut',
                                data: datas_tags,
                                options: {
                                    responsive: true,
                                    legend: {
                                        position: 'top',
                                    },
                                    title: {
                                        display: true,
                                        text: 'Tag Terbanyak Dipinjam'
                                    },
                                    animation: {
                                        animateScale: true,
                                        animateRotate: true
                                    }
                                }
                            });
                        });
                    </script>
                </div>
                <div class="col-4">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>Tag Name</th>
                                <th>Jumlah Peminjaman</th>
                            </tr>
                        </thead>
                        <tbody>
                            <repeat group="{{@data.tag_terbanyak_dipinjam_raw}}" value="{{@tag}}">
                                <tr>
                                    <td>{{@tag.name}}</td>
                                    <td>{{@tag.jumlah}}</td>
                                </tr>
                            </repeat>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Tag yang banyak dipinjam Per User</h3>
            <div class="row">
                <repeat group="{{@data.user_tags}}" value="{{@usr}}">
                    <div class="col-4">
                        <h5>{{@usr.username}}'s Tag Distribution</h5>
                        <canvas class="user-tag-aquisition" width="300" height="300" data-chart='{{json_encode(@usr.data)}}'></canvas>
                    </div>
                </repeat>
                <script>
                    $(document).ready(()=>{
                        $(".user-tag-aquisition").each((i,e)=>{
                            Chart.PolarArea(e.getContext('2d'), {
                                data: $(e).data('chart'),
                                options: {
                                    responsive: true,
                                    legend: {
                                        position: 'right',
                                    },
                                    title: {
                                        display: true,
                                        text: 'Tag Distribution'
                                    },
                                    scale: {
                                        ticks: {
                                            beginAtZero: true
                                        },
                                        reverse: false
                                    },
                                    animation: {
                                        animateRotate: false,
                                        animateScale: true
                                    }
                                }
                            })
                        })
                    });
                </script>
            </div>
        </div>
    </div>
</div>