<include href="user/parts/navbar.html"/>

<div class="container">
    <h2>Edit Profile</h2>
    <include href="parts/flashmessage.html"/>
    <form action="/action_page.php" class="form">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
        </div>
        <div class="form-group">
            <label for="confirm_pwd">Confirm Password:</label>
            <input type="password" class="form-control" id="confirm_pwd" placeholder="Confirm password"
                name="confirm_pwd">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger">Cancel</button>
    </form>
</div>