<include href="user/parts/navbar.html" />

<div class="container">
    <form action="{{@BASE}}/pengunjung" method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Cari Buku" name="q" aria-label="Cari Buku" value="{{@GET.q}}">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">Cari</button>
                </div>
            </div>
            <small class="form-text text-muted">
                Pencarian lebih lanjut? <a href="#panel-khusus" data-toggle="collapse">Buka panel pencarian khusus</a>.
            </small>
        </div>
        <div class="collapse multi-collapse" id="panel-khusus">
            <div class="card card-body">
                <div class="form-group">
                    <label for="pengarang">Pengarang:</label>
                    <input type="text" class="form-control" id="pengarang" placeholder="Enter pengarang" name="pengarang">
                </div>
                <div class="form-group">
                    <label for="penerbit">Penerbit:</label>
                    <input type="text" class="form-control" id="penerbit" placeholder="Enter penerbit" name="penerbit">
                </div>

                <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="tipe">Tag:</label>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="action" name="action">
                                    <label class="custom-control-label" for="action">Action</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="comedy" name="comedy">
                                    <label class="custom-control-label" for="comedy">Comedy</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="romance" name="romance">
                                    <label class="custom-control-label" for="romance">Romance</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="tipe">Tipe:</label>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="tandon" name="tandon">
                                    <label class="custom-control-label" for="tandon">Tandon</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="fotocopy" name="fotocopy">
                                    <label class="custom-control-label" for="fotocopy">Fotocopy</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="original" name="original">
                                    <label class="custom-control-label" for="original">Original</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <include href="parts/flashmessage.html"/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Buku</th>
                <th>Pengarang</th>
                <th>Penerbit</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <repeat group="{{@data.books}}" value="{{@buku}}">
                <tr data-object="book" data-book-id="{{@buku.id}}" data-name="{{@buku.name}}" data-pengarang>
                    <td>
                        {{@buku.name}}<br />
                        <small class="text-muted">Tags: 
                            <repeat group="@data.tag[@buku.id]" value="@tag">
                                <span data-tag-id="{{@tag.tag_id}}">{{@tag.name}},</span>
                            </repeat>
                        </small>
                    </td>
                    <td>
                        {{@buku.fkOrang}}
                        <repeat group="@data.pengarang[@buku.id]" value="@pengarang">
                            {{@pengarang.name}},
                        </repeat>
                    </td>
                    <td>
                        {{date('M Y', strtotime(@buku.published_on))}}<br />
                        <b>{{@buku.pener}}</b>
                    </td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Lihat
                        Detail</button></td>
                </tr>
            </repeat>
        </tbody>
    </table>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Sinopsis</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Isi
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#confirmationModal">Pesan</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmationModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Apakah anda akan memesan buku ini ?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Konfirmasi</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>