<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-3">
            <h3>Login Perpustakaan</h3>
            <include href="parts/flashmessage.html" />
            <form action="{{@BASE}}/user/login" method="POST">
                <div class="form-group">
                    <label for="">Username/Email</label>
                    <input class="form-control" type="text" name="username">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input class="form-control" type="password" name="password">
                </div>

                <input type="submit" value="Login" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>