<include href="user/parts/navbar.html"/>

<div class="container">
    <h2>Buku yang dipinjam</h2>
    <include href="parts/flashmessage.html"/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Buku</th>
                <th>Batas Waktu</th>
                <th>Denda</th>
            </tr>
        </thead>
        <tbody>
            <repeat group="{{@data.books}}" value="{{@buku}}">
                <tr data-object="book" data-book-id="{{@buku.id}}" data-name="{{@buku.name}}">
                    <td>
                        {{@buku.name}}<br />
                        <repeat group="@data.tag[@buku.id]" value="@tag">
                            <span data-tag-id="{{@tag.tag_id}}">{{@tag.name}},</span>
                        </repeat>
                    </td>
                    <td>{{@buku.due_on}}</td>
                    <td>Rp. {{@buku.denda}},-</td>
                </tr>
            </repeat>
        </tbody>
    </table>
</div>