<repeat group="{{ \Flash::instance()->getMessages() }}" value="{{ @msg }}">
    <div class="alert alert-{{ @msg.status }} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ @msg.text | esc }}
    </div>
</repeat>