<nav class="navbar navbar-expand-sm bg-light navbar-light mb-5">
    <div class="container">
        <a class="navbar-brand" href="{{@BASE}}/">Perpustakaan</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{@BASE}}/pengunjung">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{@BASE}}/pengunjung/rent">Book</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    @{{@USER.username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{@BASE}}/pengunjung/edit_profile">Edit Profile</a>
                    <a class="dropdown-item" href="{{@BASE}}/user/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>